.banners__item1-link {
    display: block;

    position: relative;
    /*width: 312px;
    height: 350px;*/

}

.banners__item1-link::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: pink;
    height: 100%;
    opacity: .5;
    z-index: 1;
}