.banners__grid {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(12, 84px);
    grid-template-areas:
    "item1 item1 item1 item2 item2 item2 item3 item3 item3 item3 item3 item3"
    "item4 item4 item4 item5 item5 item5 item7 item7 item7 item8 item8 item8"
    "item4 item4 item4 item6 item6 item6 item7 item7 item7 item8 item8 item8";
    gap: 30px;
}